<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>マイ喫茶店図鑑</title>
    <style>
        table { border-collapse: collapse; width: 50%; }
        th, td { border: 1px solid #ddd; padding: 8px; }
        th { background-color: #f2f2f2; }
    </style>
</head>
<body>
    <h1>マイ喫茶店図鑑</h1>
    
	<a href="/new">
	    <button>＋ 新しい喫茶店を登録する</button>
	</a>

    <ul>
        <li th:each="cafe, stat : ${cafes}">
            <a th:href="@{/cafe/{id}(id=${stat.index})}" 
            th:text="${cafe.name} + ' (★' + ${cafe.rating} + ')' ">
            </a>
        </li>
    </ul>
    
</body>
</html>